@font-face {
  font-family: "iconfont"; /* Project id 4215667 */
  src: url('iconfont.woff2?t=1692538613330') format('woff2'),
       url('iconfont.woff?t=1692538613330') format('woff'),
       url('iconfont.ttf?t=1692538613330') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reload:before {
  content: "\e788";
}

.icon-printer:before {
  content: "\e7d8";
}

